@font-face {
  font-family: 'Montserrat Medium';
  src: local('Montserrat Medium'),
    url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf)
      format('truetype');
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: local('Montserrat SemiBold'),
    url(./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf)
      format('truetype');
}

body {
  font-family: 'Montserrat';
  background-color: slategrey;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
